@font-face {
    font-family: 'S-Core Dream';
    src: url(/public/fonts/SCDream3.otf);
  }
  
  @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }


   html{
    height: 100%;
  }
  body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #2D5FC0;
  }
  header{
    position: relative;
    width: 1080px;
    height: 80px;

  }
  section.main{
    position: relative;
    width: 1080px;
    height: 640px;
  }


  header > div.title,
  header > div.user{
    position: absolute;
    height: 36px;
    top:22px;
    left: 30px;

    font-family: "S-Core Dream";
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: white;
  }
  header >div.title > span{
    font-weight: 300;
  }
  header > img{
    position: relative;
    top:15px;
    left: 285px;
  }
  header > div.user{
    top: 25px;
    left: 946px;
    font-size: 25px;
    color: white;
  }
  header > div.user > span{
    font-weight: 200;
  }
  section > div.menu{
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 250px;
  height: 640px;
  padding-top: 32px;
  z-index: 1;
}

  section > div.menu > div.menu-item{
    
    width: 250px;
    height: 69px;
    margin-bottom: 8px;
  }
  section > div.menu > div.menu-item > a.inner{
    box-sizing: border-box;
    display: block;
  
    text-decoration: none;
    
    width: 235px;
    height: 72px;
    margin-left: 30px;
    padding: 20px 82px 23px 30px;
  
    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: white;
  
    border-radius: 30px 0px;
  }
  section > div.menu > div.menu-item >a.active{
    font-weight: 600;
    background: orange;
  }

  section > div.contents {
    position: relative;
    float: right;
    border-radius: 30px 0px 0px 0px;
    width: 830px;
    height: 640px;
    background: white;
  }
  section > div.contents > div.box1,
  section > div.contents > div.box2,
  section > div.contents > div.box3{
    margin-left: 150px;
    margin-top: 50px;

    width: 200px;
    height: 150px;
    border-radius: 15px 0px 0px 15px;

    background-color: black;
  }
  section > div.contents > div.box1 >  div.box-Title{

    color: white;
  }

  section > div.contents > div.box1 > div.box-right> div.box-Title{
    color: white;
  }
  section > div.contents > div.box1 > div.box-right,
  section > div.contents > div.box2 > div.box-right,
  section > div.contents > div.box3> div.box-right{
    margin-left: 200px;
    margin-top: -22px;
    width: 200px;
    height: 150px;
    border-radius: 0px 15px 15px 0px;

    background-color: blue;
  }

  